# npm
**/node_modules/*
package.json
package-lock.json
yarn.lock

# typescript
tsconfig.json

# babel
.babelrc.js

# eslint
.eslintrc.js
.eslintignore

# prettiier
.prettierrc.js
.prettieriignore

# renovate
renovate.json

# next
**/out/*
**/.next/*
next.config.js

# tailwind
tailwind.config.js
postcss.config.js

# jest
jest.config.js
coverage-summary.json

# msw
mockServiceWorker.js
